<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogLite</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/logo.png">
    <link href="static/css/custom.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7f4d04ff57.js" crossorigin="anonymous"></script>
    <style>
        .gradient{
            background-image: linear-gradient(#91CCF3,white);
            background-repeat: no-repeat;background-size: cover;        }
    </style>
</head>
<body>
    <div class="gradient container-fluid d-flex justify-content-end py-3">
        
        
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3">
                <a href="/login" class="nav-link text-success">
                    Login
                </a>
            </li>
            <li class="nav-item me-3">
                <a href="/register" class="nav-link text-sucess">
                    Register
                </a>
            </li>
        </ul>
    </div>
    <div class="container pt-3">
        <div class="row my-5">
            <div class="col-md p-md-1">
                <img src="/static/assets/Bloglite.png" alt="" class="img-fluid ">
            </div>
            <div class="col-md pe-md-5 pt-4">
                <div class="container-fluid pe-md-5">
                    <h1 class="display">Welcome To </h1>
                    <h1 class="display text-dark">Blog<span class="text-primary">Lite</span></h1>
                    <p class="text-dark small pe-md-5">
                        BlogLite is an application that allows you to share your 
                        pictures and thoughts with the world! 
                        Login or register to join the community today!
                    </p>
                    <a href="/register" class="btn btn-primary text-light">Get Started</a>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>